# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.pydevproject

# Compiled C extensions
*.so

# Miscellaneous
*.bak
*.tmp
*.DS_Store
